<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>index.html</title>
	<link rel="stylesheet" href="../assets/css/common/common.css"/>
	<!-- 组件css资源 start-->
	<link rel="stylesheet" href="../assets/weight/weight.css"/>
	<!-- 组件css资源 end-->
	<link rel="stylesheet" href="../assets/css/index.css"/>
</head>
<body>
文字 
&#xe617;
<img src="../assets/images/1.png" alt="">
<div class="dialog-wrap">
	dialog
</div>
<div class="banner-wrap">
	banner
</div>
</body>
</html>
<!-- 公共的js资源 start-->
<script type="text/javascript" src='../libs/jquery1.11.2.js'></script>
<script type="text/javascript" src="../libs/require.js"></script>
<script type="text/javascript" src='../config/boot.js'></script>
<!-- 公共的js资源  end-->
<script type="text/javascript" src='../assets/js/index.js'></script>